.cart-item.box {
  margin-bottom: 0.5rem;
  padding: 1rem;
}
.cart-item .column {
  padding: 0.25rem;
}

.cart-item__cell:not(:last-of-type) {
}
.cart-item__lp {
}
.cart-item__qty {
}
.cart-item__name {
}
.cart-item__price {
}
.cart-item__actions {
}
