.cart-item {
  display: flex;
  align-items: center;
}
.cart-item__cell:not(:last-of-type) {
  margin-right: 0.5rem;
}
.cart-item__lp {
}
.cart-item__qty {
}
.cart-item__name {
}
.cart-item__price {
}
.cart-item__actions {
}
