.order-details {
  padding: 1rem;
}

.order-details__item-column {
  padding: 0.25rem;
}
.order-details__heading {
  margin-bottom: 1.5rem;
}
.order-details__meta {
  margin-bottom: 0.5rem;
}
.order-details__items-list {
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
}
.order-details__item {
  margin: 0.25rem auto 0.25rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
