.wish-list {
  min-height: 150px;
}
.wish-list__item {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}
.wish-list__item-cell {
  margin: 0.25rem;
}
.wish-list__item-image {
  max-width: 40px;
  width: 100%;
  display: block;
  height: auto;
}

.wish-list__item .column {
  padding: 0.25rem;
}
