.nav-cart-indicator {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  transition: opacity 150ms;
  opacity: 0;
}
.nav-cart-indicator__qty {
}

.nav-cart-indicator__visible {
  opacity: 0.9;
}
