.navbar {
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.navbar-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-icon {
	margin-right: 0.25rem;
}

@media screen and (max-width: 1087px) {
	.navbar-item.has-text-white:hover {
		color: #242424 !important;
	}
}