.product-card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.product-card__image-holder {
  position: relative;
  overflow: hidden;
}
.product-card__figure {
  height: 350px;
}
.product-card__image-holder:hover .product-card__figure-overlay {
  top: 0;
  opacity: 1;
}

.product-card__figure-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  transition: top 250ms ease, opacity 250ms ease 100ms;
  opacity: 0;
}
.product-card__figure-overlay-button {
  margin: 0.5rem;
}

.product-card__image {
  display: block;
  height: 100%;
}
.product-card__wishlist-add {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.product-card__wishlist-icon {
}
.product-card__info {
}
.product-card__name {
  margin-bottom: 0.25rem;
}
.product-card__manufacturer {
  margin-bottom: 0.5rem;
}

.product-card__price {
  padding: 0.5rem;
  border-bottom: 2px solid rgba(255, 124, 48, 0.808);
}

.product-card__actions {
  padding: 1rem 1.5rem;
}
.product-card__actions > .button {
  margin-bottom: 0.5rem;
}
