.product-preview-modal__image-holder {
}

img.product-preview-modal__image {
  max-width: 225px;
  display: block;
  margin: 0 auto;
}

.product-preview-modal__product-header {
  margin-bottom: 1rem;
}

.product-preview-modal__product-price {
  margin-bottom: 1rem;
}
.product-preview-modal__description {
}
.product-preview-modal__actions {
}
