.button--search {
  position: relative;
  height: 1.5rem;
  min-width: 10rem;
  padding: 0.25rem 0.75rem;
  text-align: right;
  background-color: rgba(29, 27, 27, 0.1);
  border: none;
  border-radius: 50px;
}

.navbar-icon--search {
  position: absolute;
  top: 50%;
  right: 0;
  height: 1.5rem;
  width: 2.5rem;
  transform: translateY(-50%);
  background-color: rgba(29, 27, 27, 0.25);
  border-radius: 50px;
}
