.search__backdrop {
  position: fixed;
  background-image: linear-gradient(45deg, rgba(61, 64, 104, 0.805), rgba(0, 209, 178, 0.805));
  transition: opacity 200ms ease;
  opacity: 0;
}

.search {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 75%;
  max-width: 1024px;
  max-height: 600px;
  padding: 3rem 2rem;
  transform: translate(-50%, -50%) scale(0.45);
  background-color: #fff;
  opacity: 0;
  border-radius: 10px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.35);
  transition: all 300ms ease;
}

.search-results__start-info {
  height: 100%;
}

.search__close {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}

.fade-enter-active {
  opacity: 1;
}
.fade-enter-done {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active .search {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.fade-enter-done .search {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.fade-exit-active .search {
  transform: translate(-50%, -50%) scale(0.45);
  opacity: 0;
}

@media screen and (min-width: 769px) {
  .search {
    width: 75%;
  }
}
