.search__backdrop {
  position: fixed;
  background-image: linear-gradient(45deg, rgba(61, 64, 104, 0.805), rgba(0, 209, 178, 0.805));
  transition: opacity 300ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 0;
}

.search {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 75%;
  max-width: 1024px;
  max-height: 600px;
  padding: 3rem 2rem;
  transform: translate(-50%, -35%);
  background-color: #fff;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.35);
  transition: transform 300ms cubic-bezier(0.25, 0.5, 0.5, 0.9),
    opacity 300ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.search-results__start-info {
  height: 100%;
}

.search__close {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}

.fade-enter-active {
  opacity: 1;
}
.fade-enter-done {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

/* ? fade enter do sprzwdzenia */
/* .fade-enter .search {
  transform: translate(-50%, -50%);
  opacity: 0;
} */
.fade-enter-active .search {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.fade-enter-done .search {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fade-exit-active .search {
  transform: translate(-50%, -35%);
  opacity: 0;
}

@media screen and (min-width: 769px) {
  .search {
    width: 75%;
  }
}
