.search-results {
  overflow-y: scroll;
}
.search-result {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.search-result__image {
  overflow: hidden;
}
