.blank-modal__overlay {
  position: fixed;
  z-index: 40;
  background-image: linear-gradient(45deg, rgba(69, 93, 122, 0.805), rgba(46, 153, 176, 0.805));
  transition: opacity 300ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.blank-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1rem;
  width: 90%;
  max-width: 900px;
  min-height: 300px;
  transform: translateY(-50%) translateX(-50%);
  background-color: white;
  opacity: 1;
  border-radius: 5px;
  transition: all 300ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.blank-modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}

.slide-up-enter {
  opacity: 0;
}
.slide-up-enter-active {
  opacity: 1;
}
.slide-up-enter-done {
  opacity: 1;
}

.slide-up-exit-active {
  opacity: 0;
}

.slide-up-enter .blank-modal {
  opacity: 0;
  transform: translateY(-35%) translateX(-50%);
}
.slide-up-enter-active .blank-modal {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%);
}
.slide-up-enter-done .blank-modal {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%);
}

.slide-up-exit-active .blank-modal {
  opacity: 0;
  transform: translateY(-35%) translateX(-50%);
}
