/* 
shadow x-large : 
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.35);

shadow large : 
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

  shadow medium : 
  box-shadow: 0 0.25rem .5rem rgba(0, 0, 0, 0.2);
  
  shadow small: 
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);

*/

/* Main Content */
.main-content {
  min-height: 680px;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.section--paddingless-vertical {
  padding-left: 0;
  padding-right: 0;
}

.is-relative {
  position: relative;
}
